
@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard</h1>

<dashboard></dashboard>

@section Scripts {
    <script src="~/angular/app/dashboard/dashboard.js"></script>
    <script src="~/angular/common/directives/pie-chart/pie-chart.js"></script>
}