<div class="row">
    <div class="col-12">
        <label>Tipo de Servicio</label>
        <select class="form-control" name="kind_service" ng-model="service.idkindservice" required>
            <option ng-value="">Seleccione</option>
            <option ng-repeat="item in kindServices" ng-value="item.id">
                {{item.name}}
            </option>
        </select>
    </div>

    <div class="col-12">
        <label>Monto</label>
        <input type="text" class="form-control" ng-model="service.payment" required/>
    </div>

</div>