<form name="form">
    <h5 class="text-muted">Información de la Residencia</h5>
    <div class="row">
        <div class="col-4">
            <label>Provincia</label>
            <select class="form-control" name="province" ng-model="residence.idprovince">
                <option value="">Seleccione</option>
            </select>
        </div>
        <div class="col-4">
            <label>Ciudad</label>
            <select class="form-control" name="province" ng-model="residence.idcity">
                <option value="">Seleccione</option>
            </select>
        </div>
    </div>

    <h5 class="text-muted mt-4">Informacion de los Residentes</h5>
    <div class="row">
        
    </div>


    <h5 class="text-muted mt-4">Informacion de los Servicios</h5>
    <div class="row">
    </div>
</form>