<div class="row">
    <div class="col-12">
        <label>Nombre</label>
        <input type="text" class="form-control" ng-model="resident.name" />
    </div>

    <div class="col-12">
        <label>Apellido</label>
        <input type="text" class="form-control" ng-model="resident.lasyname" />
    </div>

    <div class="col-12">
        <label>Telefono / Celular</label>
        <input type="text" class="form-control" ng-model="resident.phone" placeholder="000-000-0000"/>
    </div>

    <div class="col-12">
        <label>Birthdate</label>
        <input type="text" class="form-control" ng-model="resident.birthdate" placeholder="0000-00-00"/>
    </div>
</div>