<div class="row">
    <div class="col-3">
        <label>Nombre</label>
        <input type="text" class="form-control" ng-model="resident.name" />
    </div>

    <div class="col-3">
        <label>Apellido</label>
        <input type="text" class="form-control" ng-model="resident.lasyname" />
    </div>

    <div class="col-3">
        <label>Telefono / Celular</label>
        <input type="text" class="form-control" ng-model="resident.phone" />
    </div>

    <div class="col-3">
        <label>Birthdate</label>
        <input type="text" class="form-control" ng-model="resident.birthdate" />
    </div>
</div>