<h3>Datos de la residencia</h3>

<form name="form">
  <div class="row">
    <div class="form-group col-md-12 col-lg-6 col-xl-3">
      <label>Provincia</label>
      <select class="form-control" name="provincia">
        <option value="">Seleccion</option>
      </select>
    </div>

    <div class="form-group col-md-12 col-lg-6 col-xl-3">
      <label>Ciudad</label>
      <select class="form-control" name="ciudad">
        <option value="">Seleccion</option>
      </select>
    </div>

    <div class="form-group col-md-12 col-lg-6 col-xl-3">
      <label>Calle</label>
      <input type="text" class="form-control" name="Calle" />
    </div>
  </div>

  <h3 class="my-3">Personas</h3>

  <div class="row my-4">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Monto</th>
          <th>Fecha de Nacimiento</th>
          <th>Accion</th>
        </tr>
      </thead>
    </table>
  </div>

  <h3 class="my-3 my-4">Servicios</h3>

  <div class="row">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Tipos de Servicio</th>
          <th>Monto</th>
          <th>Accion</th>
        </tr>
      </thead>
    </table>
  </div>

</form>
